html {
  font-size: 10vw;
}
body {
  font-size: 12px;
}
p {
  margin: 0;
}
.van-tabbar-item__text {
  font-size: 9px;
  font-weight: bold;
}
.van-tabbar-item__icon img {
  height: 22px;
}
.van-tabbar {
  height: 50px;
}
.card {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 10px;
  margin: 10px 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.card-content {
  padding: 15px 20px;
}
.c32 {
  color: #323232;
}
.fw400 {
  font-weight: 400;
}
.fw600 {
  font-weight: 600;
}
.van-nav-bar {
  background: #5169e9;
}
.van-nav-bar__text {
  color: #f3f4f9;
  font-size: 15px;
  font-weight: 400;
}
.van-nav-bar__title {
  color: #f9fcff;
  font-size: 17px;
  font-weight: bold;
}
.van-nav-bar .van-icon {
  color: #f9fcff;
}
.blue-bg {
  background: linear-gradient(
    135deg,
    rgba(135, 168, 252, 1) 0%,
    rgba(59, 103, 227, 1) 100%
  );
}
.vh100 {
  height: 100vh;
}
.cf2 {
  color: #f2f2f2;
}
.c7c {
  color: #7c7c7c;
}
.cd8 {
  color: #d8d8d8;
}
.c58 {
  color: #585858;
}
.van-nav-bar__text:active {
  background: unset;
}
